/* css of index.html */

/* links */
#links{
    display: flex;
    justify-content: end;
    gap: 5px;
    text-align: end;
    text-decoration: none;
}

.links a{
    text-transform: capitalize;
    text-decoration: none;
}