/* css of index.html */

/* links */
#links{
    display: flex;
    justify-content: end;
    gap: 5px;
    text-align: end;
    text-decoration: none;
    text-transform: capitalize;
}

/* .links a {
    text-transform: capitalize;
    text-decoration: none;
} */

/* main-head */
#main-head{
    padding: 100px;
    background-image: url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
    background-size: cover;
    background: linear-gradient(rgba(18, 17, 17, 0.6),), url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
}

#main-header{
    text-align: center;
    font-size: larger;
    font-family: cursive;
    font-weight: 800;
    text-transform: capitalize;
    font-display: auto;
    color: rgb(4, 4, 41);
}

#head1{
    text-align: center;
        font-size: larger;
        font-family: cursive;
        font-weight: 800;
        text-transform: capitalize;
        font-display: auto;
        color: rgb(4, 4, 41);
}

#head2{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: auto;
}

/* available food */
#available-food{
    text-align: center;
    font-family: cursive;
}

/* snacks */
#snacks{
    text-align: center;
    font-size: large;
    font-family: cursive;
    text-decoration: underline;
}

#snack{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    margin-inline: calc(20px);
}

.snacks{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
}

.snacks img{
    width: 200px;
}

/* dinner food */
#dinners{
    text-align: center;
        font-size: large;
        font-family: cursive;
        text-decoration: underline;
}

#dinner{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

.dinner img{
    width: 200px;
}



/* about.html */
#about{
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;
    color: darkblue;
    text-decoration: underline;
}

#about-us{
    padding: 100px;
        background-image: url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
        background-size: cover;
        background: linear-gradient(rgba(18, 17, 17, 0.6), ), url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
}

.about-us{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* contact us */
#contimg{
    padding: 100px;
        background-image: url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
        background-size: cover;
        height: 300px;
        background: linear-gradient(rgba(18, 17, 17, 0.6), ), url("https://images.pexels.com/photos/2977514/pexels-photo-2977514.jpeg");
}

#form{
    text-align: center;
}

/* payment mode */
#payment-mode{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0;
}

#payment-mode h1{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}